/* @import url("matrix-button.css"); */
@import url("dark-theme-adjustments.css");

:root {
  --background: white;
  --light-accent-color: lightblue;
  --foreground: black;
  --accent-color: #184f7d;
  --headers-color: black;
  --body-margin-left-right: 1rem;
  --accordion-item-header-icon-color: yellow;
  --accordion-item-content-container-box-shadow-color: var(
    --light-accent-color
  );
  --nav-menu-border-width: 0.3rem;
  --blog-post-container-background-color: lightyellow;
  --menu-drop-shadow-color: gray;
  --mobile-nav-button-background: var(--light-accent-color);

  @media screen and (min-width: 768px) {
    --body-margin-left-right: 3rem;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    margin: var(--body-margin-left-right);

    /* code blocks */
    pre {
      font-family: var(--font-geist-mono), "Courier New", Courier, monospace;
    }

    /* lists */
    li::marker {
      color: var(--accent-color);
    }

    ol {
      list-style-type: decimal;
      padding-left: 0;

      & > li > ol {
        margin-left: 1rem;
      }
    }

    ul {
      padding-left: 0;
    }

    /* accordion */
    .accordion {
      padding-left: 1rem;

      .accordion-item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        margin-bottom: 1rem;
      }
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding-bottom: 1rem;

      img {
        margin: auto auto;
        border-radius: 2rem;
        box-shadow: 0 0 1rem white;
        width: 3rem;
        height: auto;
      }

      h1 {
        width: 100%;
        font-size: small;
        word-break: keep-all;
        text-align: center;
        margin: 0;

        a {
          color: var(--headers-color);
          text-decoration: none;
        }
      }

      /* theme switcher*/
      .theme-switcher {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        ul.theme-menu {
          list-style-type: none;
          position: absolute;
          z-index: 1;

          position-anchor: --theme-switcher-button;
          right: anchor(right);
          top: anchor(bottom);

          flex-direction: column;
          overflow: hidden;

          li {
            display: block;
            padding: 0;
            border: none;

            &:first-child button {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }

            &:last-child button {
              border-bottom-left-radius: 1rem;
              border-bottom-right-radius: 1rem;
            }

            button {
              border: var(--nav-menu-border-width) solid green;
              border-top: none;
              border-radius: 0;

              color: black;
              background-color: white;
              padding: 0.5rem 1rem;
              box-sizing: border-box;
              cursor: pointer;
              width: 100%;
              transition: all 0.333s;
              font-weight: bold;
              display: flex;
              align-items: center;

              &:hover {
                background-color: green;
                color: white;
              }

              &.active {
                background-color: green;
                color: white;
              }

              .icon {
                margin-right: 0.5rem;
              }
            }
          }
        }

        .menu-button {
          cursor: pointer;
          padding: 0.75rem 1rem;
          margin-bottom: 0rem;
          font-weight: bold;
          background-color: white;
          transition: all 0.333s;
          border: var(--nav-menu-border-width) solid green;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          transition:
            border-bottom-right-radius 0.333s,
            border-bottom-left-radius 0.333s;
          height: 100%;
          anchor-name: --theme-switcher-button;

          &.active {
            border-bottom-right-radius: 0;
          }

          &:hover,
          &.active {
            background-color: green;
            border-color: green;
            color: var(--background);
          }
        }
      }

      /* tablet+ size navigation*/
      nav.top-nav {
        display: none;
      }

      /* mobile navigation */
      nav.mobile-nav {
        position-anchor: --mobile-menu-button;
        position: fixed;
        top: anchor(bottom, 1rem);
        right: anchor(right, 1rem);
        z-index: 1;
        display: none;
        margin-top: 1rem;
        margin-right: -0.25rem;
        filter: drop-shadow(0 0 0.5rem var(--menu-drop-shadow-color));

        ul.nav-menu-list {
          flex-direction: column;

          & > li {
            background-color: var(--background);
          }

          & > li:not(:first-child) {
            border-top: none;
            border-left: var(--nav-menu-border-width) solid var(--accent-color);
            border-right: var(--nav-menu-border-width) solid var(--accent-color);
            border-bottom: none;
          }

          & > li:first-child {
            border-bottom-left-radius: 0;
            border-left: var(--nav-menu-border-width) solid var(--accent-color);
            border-right: var(--nav-menu-border-width) solid var(--accent-color);
            border-bottom: none;
          }
        }

        .theme-switcher {
          .menu-button {
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border-top-right-radius: 0;
          }
          .menu-button.active {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
          .theme-menu li:first-child button {
            border-top-left-radius: 1rem;
            border-top-right-radius: 0;
          }
          .theme-menu li:last-child button {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
      .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        margin: 0;
        width: 5rem;
        border: none;
        background: var(--mobile-nav-button-background);
        color: var(--foreground);
        anchor-name: --mobile-menu-button;
        cursor: pointer;
        padding: 1rem;
        border-radius: 50%;

        hr {
          border: 0.15rem solid var(--foreground);
          border-radius: 1rem;
          margin: 0 0 0 0;
        }
      }

      /* responsive design of navigation */
      @media screen and (min-width: 768px) {
        flex-direction: column;

        img {
          width: 155px;
          height: 155px;
        }

        h1 {
          font-size: 4rem;
        }

        .mobile-menu {
          display: none;
        }

        nav.top-nav {
          display: block;
        }

        nav.mobile-nav {
          display: none !important;
        }
      }
    }

    /* for Particles.js canvas as background */
    main {
      position: relative;
    }
    #tsparticles {
      position: absolute;
      z-index: -2;
    }

    .gh-icon {
      display: inline;
      fill: black;
    }

    .fb-icon {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 1rem;
      padding: 0.1rem;
    }

    .wpd-icon {
      display: inline;
      background-color: white;
      border-radius: 25%;
    }
  }
}

/* TODO: make this mobile-first */
@media (max-width: 768px) {
  body {
    margin: 1rem;

    header {
      flex-direction: column;

      h1 {
        font-size: 1.5rem;
        word-break: keep-all;
      }
    }

    .theme-switcher .menu-button {
      margin-bottom: 1rem;
    }
  }
}

.header-footer-separator {
  box-shadow: 0rem 0 1rem var(--light-accent-color);
  background-color: var(--light-accent-color);
  height: 0.1rem;
  margin-left: -3rem;
  margin-right: -3rem;
}

/* PayPal form in footer */
.list-footer {
  margin-left: 3rem;
  margin-right: 3rem;

  form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
/* PayPal button */
.pp-D6U2KM8LALZLJ {
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  min-width: 11.625rem;
  padding: 0 2rem;
  height: 2.625rem;
  font-weight: bold;
  background-color: #ffd140;
  color: #000000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}

article.yt-lite {
  width: auto;
  max-width: 500px;
}

.accordion-item-header {
  display: flex;
  align-self: start;
  margin-left: 1rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--light-accent-color);
  border: 0.1rem solid #ccc;
  user-select: none;
  color: var(--accent-color);
  transition:
    0.333s background-color,
    0.333s color;
  border-radius: 1.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  &:hover {
    background-color: var(--accent-color);
    color: var(--background);
  }

  div {
    word-wrap: anywhere;
    font-size: 1.25rem;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .accordion-item-header-icon {
    transition: all 0.333s;
    margin-left: 0.5rem;
    align-self: center;

    &.item-header-hovered {
      color: var(--accordion-item-header-icon-color);
    }
  }

  &.active {
    .accordion-item-header-icon {
      transform: rotate(-180deg);
    }
  }
}

.accordion-item-content-container {
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.accordion-item-content {
  font-size: 1rem;
  padding: 1rem;

  & > ol > li,
  & > ul > li {
    margin: 0.5rem 0;
    list-style-position: inside;
    list-style-type: disc;
    word-break: break-all;
  }
}

nav.top-nav,
nav.mobile-nav {
  ul.nav-menu-list {
    display: flex;
    gap: 0;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;

    li {
      padding: 1rem 1rem;
      text-align: center;

      border-top: var(--nav-menu-border-width) solid var(--accent-color);
      border-bottom: var(--nav-menu-border-width) solid var(--accent-color);
      border-left: var(--nav-menu-border-width) solid var(--accent-color);
      border-right: var(--nav-menu-border-width) solid var(--accent-color);

      &:first-child {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-right: none;
      }

      &:not(:first-child) {
        border-left: none;
        border-right: none;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        color: var(--foreground);

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .active-nav-item {
    background-color: var(--accent-color) !important;
  }

  .active-nav-link {
    color: white !important;
  }
}

/* Table of Contents feature */
nav.current-toc {
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--background);
  max-width: 200px;
  margin-left: -3rem;
  border-radius: 0;
  overflow: auto;

  a {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--foreground);

    &.toc-active {
      font-weight: bold;
      text-decoration: underline;
    }

    &.toc-inactive {
      font-weight: normal;
    }
  }
}
.toc-aside {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  max-height: 50vh;
  z-index: 1;

  button {
    font-size: 1rem;
    margin-left: calc(-var(--body-margin-left-right));
  }
}

/* typography */
h2 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.6;
}

/* Blog Posts */
.blog-posts-container {
  article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    background-color: var(--blog-post-container-background-color);
    padding: 3rem;

    h3 {
      grid-area: 1 / 1 / 2 / 2;

      @media screen and (min-width: 768px) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
    }

    section {
      grid-area: 3 / 1 / 4 / 2;
      margin: 0;

      @media screen and (min-width: 768px) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 2rem;
      }
    }

    .thumbnail {
      grid-area: 2 / 1 / 3 / 2;

      @media screen and (min-width: 768px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
  }
}
