@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 3rem;
}

@media (max-width: 768px) {
  body {
    margin: 1rem;
  }
}

/* My styles */

main {
  position: relative; /* for Particles.js canvas as background */
}

header {
  display: flex;
}

header h1 {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

ol {
  list-style-type: decimal;
}

ol > li > ol {
  margin-left: 1rem;
}

.list-footer {
  margin-left: 3rem;
}

article.yt-lite {
  width: auto;
  max-width: 500px;
}

.matrix-button > p {
  text-align: center;
  width: 125%;
  align-self: center;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.matrix-button > canvas {
  position: absolute;
  align-self: center;
  width: 125%;
  height: 3rem;
}

.matrix-button {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  color: white;
  cursor: pointer;
  justify-content: center;
  margin: 2rem;
  transition: transform 0.5s;
}

.matrix-button:hover {
  transform: scale(1.5);
}

.accordion {
  margin-left: 2rem;
}

.accordion-item-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 0.1rem solid #ccc;
  user-select: none;
}

.accordion-item-header .accordion-item-header-icon {
  transition: all 0.333s;
}

.accordion-item-header:hover .accordion-item-header-icon {
  transform: rotate(180deg);
}

.accordion-item-header:hover {
  background-color: #f0f0f0;
}

.accordion-item-content-container {
  border: 0.1rem solid #ccc;
  width: 100%;
}

.accordion-item-content {
  font-size: 1rem;
}

.accordion-item-header li {
  margin: 0.5rem 0;
  list-style-position: inside;
}
