@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 3rem;
}

/* My styles */

h1 {
  font-size: 3.5rem;
}

a {
  color: blue;
}

ol {
  list-style-type: decimal;
}

ol > li > ol {
  margin-left: 1rem;
}

.list-footer {
  margin-left: 3rem;
}

article.yt-lite {
  width: auto;
  min-width: 20rem;
  max-width: 30rem;
}
